.dash-container {
  width: 60%;
  margin: auto;
  background: #dff8ea;
}
.dash-container h1 {
  color: #3b5249;
  font-size: 36px;
}

.dash-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid black 2px;
  margin: 0px 20px;
}
