.wizard-top {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0px 20px;
}

.wizard-top h1 {
  font-weight: 700;
}
.wizard-top button {
  padding: 10px;

  background: #fec2c2;
  font-size: 14px;
  font-weight: bold;
}

.wizard-widget {
  width: 60%;
  margin: auto;
  background: #dff8ea;
  height: 100%;
  overflow: hidden;
}

input {
  border: solid #519872 1px;
  /* color: #fff; */
}
.next {
  position: relative;
  float: right;
  top: 100px;
  padding: 10px;
  background: #3b5249;
  color: #fff;
}

.step3-div input {
  width: 60%;
}
