.property {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: #d9d9d9;
  width: 80%;
  margin: 20px auto;
}
.property-container {
  display: flex;
  flex-direction: column;
}

.property button {
  height: 20px;
}

.property-image {
  max-width: 200px;
}
